In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('SF_2010_Pop_Block_County_formatted_unparsed.csv')
df.head()

,BLOCKS,Total population,Hispanic or Latino,"Total population, not Hispanic or Latino",One race total,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some Other Race,Two or More Races
0,"Block 1000, Block Group 1, Census Tract 101, S...",0,0,0,0,0,0,0,0,0,0,0
1,"Block 1001, Block Group 1, Census Tract 101, S...",44,1,43,44,36,3,0,4,0,1,0
2,"Block 1002, Block Group 1, Census Tract 101, S...",0,0,0,0,0,0,0,0,0,0,0
3,"Block 1003, Block Group 1, Census Tract 101, S...",0,0,0,0,0,0,0,0,0,0,0
4,"Block 1004, Block Group 1, Census Tract 101, S...",1,0,1,1,0,1,0,0,0,0,0

In [3]:
records = []
for ix, row in df.iterrows():
    splits = row['BLOCKS'].split(', ')
    record = row[[x for x in df.columns if x != 'BLOCKS']].to_dict()
    record['block'] = str(splits[0].split('Block ')[-1])
    record['block_group'] = str(splits[1].split('Block Group ')[-1])
    census_tract = '0' + str(splits[2].split('Census Tract ')[-1].replace('.', ''))
    census_tract += '0' * (6-len(census_tract))  # Even if it doesn't have a decimal part, needs to be 6 characters
    record['census_tract'] = census_tract
    records.append(record)
cleaned_df = pd.DataFrame(records)

In [4]:
cleaned_df = cleaned_df[['block', 'block_group', 'census_tract'] + [x for x in df.columns if x != 'BLOCKS']]
cleaned_df['census_tract'] = cleaned_df['census_tract'].astype(str)
cleaned_df.head()

,block,block_group,census_tract,Total population,Hispanic or Latino,"Total population, not Hispanic or Latino",One race total,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some Other Race,Two or More Races
0,1000,1,010100,0,0,0,0,0,0,0,0,0,0,0
1,1001,1,010100,44,1,43,44,36,3,0,4,0,1,0
2,1002,1,010100,0,0,0,0,0,0,0,0,0,0,0
3,1003,1,010100,0,0,0,0,0,0,0,0,0,0,0
4,1004,1,010100,1,0,1,1,0,1,0,0,0,0,0

In [6]:
cleaned_df.columns = [x.lower().replace(' ', '_').replace(',', '') for x in cleaned_df.columns]
cleaned_df.head()

,block,block_group,census_tract,total_population,hispanic_or_latino,total_population_not_hispanic_or_latino,one_race_total,white,black_or_african_american,american_indian_and_alaska_native,asian,native_hawaiian_and_other_pacific_islander,some_other_race,two_or_more_races
0,1000,1,010100,0,0,0,0,0,0,0,0,0,0,0
1,1001,1,010100,44,1,43,44,36,3,0,4,0,1,0
2,1002,1,010100,0,0,0,0,0,0,0,0,0,0,0
3,1003,1,010100,0,0,0,0,0,0,0,0,0,0,0
4,1004,1,010100,1,0,1,1,0,1,0,0,0,0,0

In [7]:
cleaned_df.to_csv('SF_2010_Pop_Block_County_parsed.csv')